rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isCertimar() {
      return request.auth != null
          && request.auth.token.email_verified == true
          && request.auth.token.email.matches('.*@certimar\\.cl$');
    }

    match /registros/{docId} {
      allow read, write: if isCertimar();
    }
    match /historico/{docId} {
      allow read, write: if isCertimar();
    }
    match /eventos_uso/{docId} {
      allow read, write: if isCertimar();
    }
    match /catalogo_custom/{docId} {
      allow read, write: if isCertimar();
    }
    match /config/{docId} {
      allow read, write: if isCertimar();
    }
  }
}
